.label,
.label > tspan {
  /* ".MuiTypography-body1" */
  alignment-baseline: middle;
  text-anchor: middle;
}

.component {
}

.component > text {
}

.component > rect {
}

.subcomponents {
}

.subcomponent {
}

.wires,
.wire {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.pin {
}

.viewbox-pin-rect {
  fill: white;
  rx: 7;
  ry: 5;
}
